<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="basicDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxWaitMillis" value="${jdbc.maxWaitMillis}"/>
        <property name="maxTotal" value="${jdbc.maxTotal}"/>
        <property name="minIdle" value="${jdbc.maxIdle}"/>
    </bean>
    
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="basicDataSource"/>
    </bean>
    
    <bean id="sqlMapClientFactoryBean" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="basicDataSource"/>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
        <property name="mappingLocations" value="classpath:sqlMap/**/*SqlMap.xml" />
    </bean>

    <bean id="iBatisDAOSupport" class="net.plang.DYAccount.common.dao.IBatisDAOSupport" abstract="true">
        <property name="sqlMapClient" ref="sqlMapClientFactoryBean"/>
    </bean>
</beans>
