<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.plang.DYAccountVer3.account.base.dao.AccountDAO">

   <resultMap id= "accountResult" type="accountBean">
        <result property="accountInnerCode" column="ACCOUNT_INNER_CODE"/>
        <result property="parentAccountInnerCode" column="PARENT_ACCOUNT_INNER_CODE"/>
        <result property="accountCode" column="ACCOUNT_CODE"/>
        <result property="accountCharacter" column="ACCOUNT_CHARACTER"/>
        <result property="accountName" column="ACCOUNT_NAME"/>
        <result property="accountUseCheck" column="ACCOUNT_USE_CHECK"/>
        <result property="accountDescription" column="ACCOUNT_DESCRIPTION"/>
        <result property="editable" column="EDITABLE"/>
        <result property="lev" column="LEV"/>
    </resultMap>
    
    <resultMap id="accountControlResult" type="accountControlBean">
         <result property="accountControlCode" column="ACCOUNT_CONTROL_CODE"/>
        <result property="accountControlName" column="ACCOUNT_CONTROL_NAME"/>
        <result property="accountControlType" column="ACCOUNT_CONTROL_TYPE"/>
    </resultMap>
   <!-- 권한에 따른 메뉴를 가져오는 메서드 -->
   <select id="selectAccount" resultMap="accountResult" parameterType="String">
   <![CDATA[
        SELECT ACCOUNT_INNER_CODE,
               PARENT_ACCOUNT_INNER_CODE,
               ACCOUNT_CODE,
               ACCOUNT_CHARACTER,
               ACCOUNT_NAME,
               ACCOUNT_DIVISION,
               ACCOUNT_USE_CHECK,
               ACCOUNT_DESCRIPTION,
               EDITABLE
        from ACCOUNT
        WHERE PARENT_ACCOUNT_INNER_CODE IS not NULL
          AND ACCOUNT_INNER_CODE = #{accountCode}
     ]]>
   </select>
   <select id="selectParentAccountList" resultMap="accountResult">
    <![CDATA[
        SELECT ACCOUNT_INNER_CODE,
               PARENT_ACCOUNT_INNER_CODE,
               ACCOUNT_CODE,
               ACCOUNT_CHARACTER,
               ACCOUNT_NAME,
               ACCOUNT_DIVISION,
               ACCOUNT_USE_CHECK,
               ACCOUNT_DESCRIPTION,
               EDITABLE
        FROM ACCOUNT
        WHERE ACCOUNT_INNER_CODE LIKE '%-%'
          AND ACCOUNT_INNER_CODE not IN
              ('0101-0175', '0176-0250')
          AND PARENT_ACCOUNT_INNER_CODE IS not NULL
        ORDER BY ACCOUNT_INNER_CODE
        ]]>
    </select>

    <select id="selectDetailAccountList" parameterType="String" resultMap="accountResult">
    <![CDATA[
        SELECT ACCOUNT_INNER_CODE,
               PARENT_ACCOUNT_INNER_CODE,
               ACCOUNT_CODE,
               ACCOUNT_CHARACTER,
               ACCOUNT_NAME,
               ACCOUNT_DIVISION,
               ACCOUNT_USE_CHECK,
               ACCOUNT_DESCRIPTION,
               EDITABLE
        from ACCOUNT
        WHERE ACCOUNT_INNER_CODE not LIKE '%-%'
          AND PARENT_ACCOUNT_INNER_CODE = #{accountCode}
        ORDER BY ACCOUNT_INNER_CODE
        ]]>
    </select>

    <update id="updateAccount" parameterType="accountBean">
    <![CDATA[
        UPDATE ACCOUNT
        SET ACCOUNT_NAME = #{accountName}
        WHERE ACCOUNT_INNER_CODE = #{accountInnerCode}
        ]]>
    </update>

    <select id="selectAccountListByName" parameterType="String" resultMap="accountResult">
    <![CDATA[
        SELECT ACCOUNT_INNER_CODE,
               PARENT_ACCOUNT_INNER_CODE,
               ACCOUNT_CODE,
               ACCOUNT_CHARACTER,
               ACCOUNT_NAME,
               ACCOUNT_DIVISION,
               ACCOUNT_USE_CHECK,
               ACCOUNT_DESCRIPTION,
               EDITABLE
        FROM ACCOUNT
        WHERE ACCOUNT_NAME LIKE '%' || #{accountName} || '%'
          AND ACCOUNT_CODE NOT LIKE '%-%'
        ]]>
    </select>

    <select id="selectAccountControlList" parameterType="String" resultMap="accountControlResult">
    <![CDATA[
        SELECT D.ACCOUNT_CONTROL_CODE,
               ACCOUNT_CONTROL_NAME,
               ACCOUNT_CONTROL_TYPE,
               DESCRIPTION
        FROM ACCOUNT_CONTROL_CODE C,
             ACCOUNT_CONTROL_DETAIL D
        WHERE C.ACCOUNT_CODE = #{accountCode}
          AND C.ACCOUNT_CONTROL_CODE = D.ACCOUNT_CONTROL_CODE
        ]]>
    </select>
   
</mapper>